@page
@model AirplaneProject.Pages.CreateModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<p>Заполните данные:</p>

<form method="post" asp-page-handler="Registration">
    Логин:
    <input asp-for="User!.Login" />
    Фамилия Имя Отчество:
    <input asp-for="User!.Name" />
    Пароль:
    <input asp-for="User!.Password" />
    Номер телефона:
    <input asp-for="User!.PhoneNumber" />
    <input type="submit" value="Подтвердить"/>
    <span align="left" style="white-space: pre-line;color:red">@Html.ValidationMessage("RegistrationError")</span>
</form>
