@page
@model AirplaneProject.Pages.CreateModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<p>Enter a customer name:</p>

<form method="post">
    Номер телефона:
    <input asp-for="CustomerUser!.PhoneNumber" />
    Пароль:
    <input asp-for="CustomerUser!.Password" />
    Фамилия Имя Отчество:
    <input asp-for="CustomerUser!.Name" />
    <input type="submit" />
</form>
