@page
@model AirplaneProject.Pages.SpawnDataModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<h3>Добавит данные в БД, если она пуста</h3>
<div class="error-text">@Model.Message</div>
<form method="post">
    <button type="submit" asp-page-handler="Spawn">Добавить</button>
</form>